:root {
    --azul-dnc: #0c7092;
    --preto-dnc: #303030;
    --cinza-hover: #c9c9c9;
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background: linear-gradient(180deg, rgba(34, 112, 214, 0.5), rgba(12, 112, 242, 0) ), #303030; 
    /*o primeiro valor define a direção do gradiente que  no caso é para baixo, o segundo valor
    define a cor que ele começa e a porcentagem define a área que essa cor ocupa,
    o terceiro valor define a cor que termina e a porcentagem a área que essa cor ocupa
    e por ultimo temos a cor padrão do background */
    background-repeat: no-repeat;
}
#principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4% 0 2.8%;

    width: 100%; 
    height: 100px; 

    background-color: var(--preto-dnc);
    border-bottom: 1px solid #babada;
}
#principal div a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}
    #principal div a:hover { /*o comando hover difine coisas que acontecem quando o mouse passa por cima*/
        color: var(--cinza-hover); 
}
#principal button {
    background-color: var(--azul-dnc);
    color: #ffffff;
    width: 80px;
    height: 40px;
    font-weight: 600;
    font-size: 1.1rem;
    border: 0;
    box-shadow: 3px 2px 10px rgba(12, 112, 242, 0.25); /*o primeiro define a sombra horizontal o segundo o vertical
    e o terceiro define o blur e o quarto a cor*/
    cursor: pointer;
}
#menu a {
    margin-left: 35px;
}
#menu {
    display: flex;
}
/*Seção principal do site*/
section {
    display: flex;
    flex-direction: column; /*Como mudamos o flex direction para column então o allign itens centraliza
    horizontalmente*/
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
   header {
    color: white;
   }
   header h1 {
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 400;
   }
   header h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 200px;
    font-weight: 400;
   }
   header .invert {
    background-color: black;
    font-weight: bold;
    padding: 5px;
   }
   header b {
    font-weight: bold;
   }
form {
    color: white;
    width: 560px;
}
form input {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 35px;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}
form label {
    font-size: 1.5rem;
}
.form-group {
    display: flex;
    flex-direction: column;
}
form input::placeholder {
    color: rgba(57, 57, 57, 0.5);
}
.checkbox-itens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
    .checkbox-itens label {
        display: flex;
        font-size: 1.4rem;
    }
input[type="checkbox"] {
    scale: 1.7;
}
input[type="submit"] {
    background-color: rgba(12, 112, 242, 0.9);
    width: 100%;
    height: 56px;
    color: white;
    font-size: 32px;
    margin-top: 80px;
    padding: 10px auto;
    cursor: pointer;
}
footer {
    width: 100%;
    background-color: var(--azul-dnc);
    padding-top: 50px;
}
footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
}

footer .linha1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer ul {
    list-style: none;
}
footer h5 {
    text-align: center;
    font-size: 1.4rem;
    color: white;
    background-color: var(--preto-dnc);
    border-radius: 10px;
    padding: 10px;
}
footer ul li {
    text-align: center;
    margin: 20px 0px;
}
footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
footer ul li a:hover {
    color: var(--cinza-hover);
}
#endereco {
    color: white;
    width: 10%;
}
footer .linha2 {
    display: flex;
    margin-bottom: 0;
    justify-content: center;
    text-decoration: none;
}
footer .linha2 a {
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
footer .linha2 a:first-child {
    border-right: 3px solid white;
}
footer .linha2 a:hover {
    color: var(--cinza-hover);
}
@media screen and (max-width: 600px) {
    #principal {
        flex-direction: column;
    }
    #menu {
        flex-direction: column;
    }
}